@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Inter', sans-serif;
     font-size: 100%;
     text-decoration: none;
}

body {
     height: 100vh;
     background-color: #F5F8F6;
}

/* =TITLE= */
.title,
.ssTitle {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     gap: 16px;
}

.title .textTitle {
     color: #344E47;
     font-size: 32px;
     font-style: normal;
     font-weight: 700;
     letter-spacing: 0.32px;
     text-transform: uppercase;
}

.ssTitle .textTitle {
     color: #344E47;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     letter-spacing: 0.32px;
}

.title .line {
     width: 100%;
     height: 3px;
     background: #344E47;
}

.ssTitle .line {
     width: 244px;
     height: 3px;
     background: #344E47;
}

/* =FIN TITLE= */

/* ==HEADER== */
.header {
     position: relative;
     height: 24%;
     margin: 32px 32px 0 32px;
}

.header .banner {
     height: 100%;
     background-image: linear-gradient(45deg,
               hsl(140deg 18% 97%) 0%,
               hsl(146deg 20% 94%) 8%,
               hsl(152deg 22% 92%) 17%,
               hsl(157deg 24% 89%) 25%,
               hsl(157deg 23% 86%) 33%,
               hsl(156deg 23% 82%) 42%,
               hsl(156deg 23% 78%) 50%,
               hsl(157deg 21% 74%) 58%,
               hsl(158deg 20% 69%) 67%,
               hsl(158deg 20% 64%) 75%,
               hsl(160deg 19% 60%) 83%,
               hsl(161deg 18% 55%) 92%,
               hsl(162deg 17% 50%) 100%);
     border-radius: 32px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.banner .titleProjet {
     color: #141F1D;
     font-size: 40px;
     font-style: normal;
     font-weight: 700;
}

.linkHome {
     position: absolute;
     top: 80%;
     left: 7%;
}

.linkHome .btnHome {
     padding: 16px 16px;
     border: none;
     border-radius: 40px;
     background: #344E47;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #F5F8F6;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     cursor: pointer;
}

/* ==FIN HEADER== */

/* ==CONTAINER== */
.container {
     padding: 32px;
     display: flex;
     flex-direction: row;
     gap: 32px;
}

/* =LEFT= */
.left {
     margin: 24px 0 0 0;
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     gap: 16px;
}

.cardBloc {
     padding: 24px;
     border-radius: 32px;
     background: #DDEAE5;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 24px;
}

.cardBloc a {
     width: 100%;
}

.cardBloc .containerButton {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 8px;
}


.cardBloc .btnDownload {
     width: 100%;
     padding: 8px 16px;
     border-radius: 8px;
     border: 8px solid #344E47;
     background: #344E47;
     color: #F5F8F6;
     font-size: 18px;
     font-style: normal;
     font-weight: 600;
     display: flex;
     align-items: center;
     gap: 8px;
     cursor: pointer;
}

.left .lists {
     display: flex;
     flex-direction: column;
     gap: 24px;
}

.left .lists li {
     color: #141F1D;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     display: flex;
     align-items: flex-start;
     gap: 8px;
}

.left .lists li:nth-child(1) {
     align-items: center;
}

/* =FIN LEFT= */

/* =RIGHT=*/
.right {
     margin: 24px 0 0 0;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
     gap: 16px;
}

.rightParagraphe {
     color: #141F1D;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
}

/* =FIN RIGHT= */
/* ==FIN CONTAINER== */

/* ==RESPONSIVE==*/
@media screen and (max-width: 640px) {
     .container {
          flex-direction: column !important;
     }

     .cardBloc {
          width: 100%;
     }
}

/* ==FIN RESPONSIVE== */

/* TABLEAU */

table,
th,
td {
     border: 1px solid;
     padding: 8px;
}

.note {
     color: #344E47;
     font-weight: 800;
}

table {
     border-collapse: collapse;
     border: 4px solid #141F1D;
     color: #141F1D;
}

/* FIN TABLEAU */